<header class="header container">
    <div class="header-container">
        <a class="logo" href="../index.html"><span class="logo-span">tasty</span>treats.</a>
        <div class="header-img">
            <svg class="header-tray" width="24" height="24">
                <use href="../img/icon.svg#icon-purchase"></use>
            </svg>
            <svg class="header-menu" width="32" height="32">
                <use href="../img/icon.svg#icon-purchase"></use>
            </svg>
        </div>
    </div>
</header>