<div class="precipes-title, js-popular-recipes">
    <h2 class="precipes-title-text">Popular recipes</h2>
</div>
<!-- <div class="precipes-marcup" id=''>
    <img class='precipes-marcup-img'
        src='https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg'
        alt='    Chocolate Gateau'>
    <div class="precipes-marcup-title">
        <h3 class="precipes-marcup-title-text">Chocolate Gateau</h3>
        <p class="precipes-marcup-text">A French dessert consisting of layers of chocolate sponge
            cake and chocolate ganache, typically topped with chocolate glaze and chocolate
            decorations.</p>
    </div>
</div>; -->