<section class="filter">
    <form id="searchForm">
        <label for="search">Пошук:</label>
        <input type="text" id="search" name="search"><br><br>

        <label for="time">Час приготування:</label>
        <select id="time" name="time">
            <option value=""></option>
            <option value="10">10 min</option>
            <option value="20">20 min</option>
            <option value="30">30 min</option>
            <option value="40">40 min</option>
            <option value="50">50 min</option>
            <option value="60">60 min</option>
            <option value="70">1 hour</option>
            <option value="80">1 hour 10 min</option>
            <option value="90">1 hour 20 min</option>
            <option value="100">1 hour 30 min</option>
            <option value="110">1 hour 40 min</option>
            <option value="120">1 hour 50 min</option>
        </select><br><br>

        <label for="area">Регіон:</label>
        <select id="area" name="area">
            <option value=""></option>
        </select><br><br>

        <label for="ingredients">Інгредієнти:</label>
        <select id="ingredients" name="ingredients">
            <option value=""></option>
        </select><br><br>

        <button type="button" id="clearButton">Очистити</button>
    </form>

    <script type="module" src="./template/05-filter/05-filter.js"></script>
</section>