.header {
  padding: 20px 20px;
}

.logo{
  line-height: 16px;
  font-weight: 600;
}

.logo-span{
  color: #9BB537;
}

.header-container{
  display: flex;
  gap: 183px;
}

.header-img{
  display: flex;
  gap: 20px;
}