/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./01-header.css');
@import url('./02-introduction.css');
@import url('./03-categories.css');
@import url('./04-popular-recips.css');
@import url('./05-filter.css');
@import url('./06-dishes.css');
@import url('./07-menu.css');
@import url('./08-dish-page.css');
@import url('./09-favorites.css');
@import url('./10-loader.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}