/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./01-header.css');
@import url('./02-introduction.css');
@import url('./03-categories.css');
@import url('./04-popular-recips.css');
@import url('./05-filter.css');
@import url('./06-dishes.css');
@import url('./07-menu.css');
@import url('./08-dish-page.css');
@import url('./09-favorites.css');

:root {
  --color-green: #9BB537;
  --color-yellow: #EEA10C;
  --color-black: #1E1E1E;
  --color-white: #ffffff;
  --color-text: rgba(5, 5, 5, 0.80);
  --color-border-grey: rgba(255, 255, 255, 0.20);
  --transition-duration: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Inter-300';
  src: url('../fonts/Inter-Light.eot');
  src: url('../fonts/Inter-Light.woff2') format('woff2'),
    url('../fonts/Inter-Light.woff') format('woff'),
    url('../fonts/Inter-Light.ttf') format('truetype'),
    url('../fonts/Inter-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-400';
  src: url('../fonts/Inter-Regular.eot');
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype'),
    url('../fonts/Inter-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-600';
  src: url('../fonts/Inter-SemiBold.eot');
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter-SemiBold.ttf') format('truetype'),
    url('../fonts/Inter-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}


html,
body {
  scroll-behavior: smooth
}

body {
  color: var(--color-white);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-family: 'Inter-600';
  font-size: 14px;
  line-height: 1.28;
}

.text {
  font-family: 'Inter-400';
  font-size: 12px;
  line-height: 1.33;
}

@media screen and (min-width: 415px) {
  .container {
    width: 375px;
  }
}

@media screen and (max-width: 414px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}